.top{ height:50px;}
.head,.main{ width:960px;margin: 0 auto;}
.head{ height:50px; text-align: center;}
.left{ width:110px; float:left;}
.right{ width:850px; float:right}
.r_sub_left{ width:740px; float:left;}
.r_sub_right{ width:110px; float:right;}
.footer{ height:50px; clear:both;}